@font-face {
    font-family: 'CookieRunOTF-Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Black00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'Noto Sans KR', sans-serif;
}
body{
    margin-top:20px;
    background: black;
}
.navbar-background{
    background-color: black;
    opacity: 80%;
}
.jumbotron-style{
    font-family: 'GmarketSansMedium';
    background-color: #72f8d0;
    border-radius: 15px;
    padding: 30px;
    font-size: 50px;
}
.jumbo-font{
    font-family: 'GmarketSansMedium';
    font-size: 30px;
}
.ranking-font{
    font-family: 'CookieRunOTF-Black';
    font-size: 20px;
    color:black;
    margin: 10px;
    background-color: #14dba0;;
}
.size {
    width: auto;
    height: 800px;
}
.background {
    background-color: black;
}
.card-size{
    margin: 10px;
    width: 200px;
    height: auto;
}
.predict-title-font {
    font-size: 10px;
}
.score_font{
    color: saddlebrown;
}
.score_font:hover{
    color: #9FC93C;
    text-decoration: none;
}
img{
    width: 150px;
    margin: 0;
}