<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">

    <title>Calcifer</title>

    <style>
        * {
            font-family: 'Noto Sans KR', sans-serif;
        }
        .site-title-font{
            color: red;
            font-family: 'Gloria Hallelujah', cursive;
            font-size: 27px;
        }
        .size{
            width: auto;
            height: 800px;
        }
        .wrap {
            width: 900px;
            margin-top:100px;
            margin-left: 100px;
            margin-right: 100px;

        }
        .background{
            background-color: black;
        }

    </style>

    <script>
        $(document).ready(function () {
            // 창을 새로고침할 때마다 실행할 함수를 여기에 입력합니다.

        });
        function onClickBtnLogOut() {
            $.ajax({
                url: '/logout',
                method: 'POST',
                data: {},
                success: function (response) {
                    $(location).attr('href', '/');
                }
            })
        }
        function onClickHome() {
            $(location).attr('href', '/');
        }
        function onClickRate() {
            $(location).attr('href', '/rating');
        }
        function onClickGenre() {
            $(location).attr('href', '/genre');
        }
        function onClickSearch() {
            $(location).attr('href', '/search');
        }
        function onClickMypage() {
            $(location).attr('href', '/mypage');
        }

        function movieGenre() {
            //$('#cards-box').empty();
            let selectgenre = $('#selectgenre').val();
            //let selectnation = $('#nationid').val();
            console.log(selectgenre);
            $.ajax({
                type: 'GET',
                url: 'https://api.themoviedb.org/3/movie/popular?api_key=a338932a06b8f07fb4c5638b91007531&language=ko-KR',
                data: {"api_key": "a338932a06b8f07fb4c5638b91007531"},
                success: function (response) {
                    //console.log(response)
                    let movies = response["results"]
                    let moviesLength = movies.length;

                    for (let index = 0; index < moviesLength; index++) {
                        let id = movies[index]['id'];
                        let title = movies[index]['title'];
                        let poster_path = movies[index]['poster_path'];
                        let poster_url = "https://image.tmdb.org/t/p/w300/"
                        let base_url = "https://www.themoviedb.org/movie/"

                        let genre_ids = movies[index]['genre_ids'];
                        console.log(genre_ids);


                    }
                }
            });
        }



    </script>
</head>
<body class="background">
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#"><font class="site-title-font">Calcifer</font></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="onClickHome()">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="onClickRate()">star</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" onclick="onClickGenre()">rank</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="onClickMypage()">My page</a>
        </li>
      </ul>
        <nav class="navbar navbar-dark">
          <form class="form-inline">
            <a class="btn btn-outline-danger" role="button" href="#" onclick="onClickSearch()">Search</a>
          </form>
        </nav>
        <nav class="navbar navbar-dark">
          <form class="form-inline">
            <a class="btn btn-outline-light" role="button" onclick="onClickBtnLogOut()">Logout</a>
          </form>
        </nav>
    </div>
  </nav>
</header>

<div class="wrap">
    <div class="btn-group">
      <button type="button" class="btn btn-danger">Genre</button>
      <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu" id="selectgenre" onclick="movieGenre()">
        <a class="dropdown-item" value="28">액션</a>
        <a class="dropdown-item" value="12">모험</a>
        <a class="dropdown-item" value="16">애니메이션</a>
        <a class="dropdown-item" value="35">코미디</a>
        <a class="dropdown-item" value="80">범죄</a>
        <a class="dropdown-item" value="99">다큐멘터리</a>
        <a class="dropdown-item" value="18">드라마</a>
        <a class="dropdown-item" value="10751">가족</a>
        <a class="dropdown-item" value="14">판타지</a>
        <a class="dropdown-item" value="36">역사</a>
        <a class="dropdown-item" value="27">공포</a>
        <a class="dropdown-item" value="10402">음악</a>
        <a class="dropdown-item" value="9648">미스터리</a>
        <a class="dropdown-item" value="10749">로맨스</a>
        <a class="dropdown-item" value="878">SF</a>
        <a class="dropdown-item" value="10770">TV영화</a>
        <a class="dropdown-item" value="53">스릴러</a>
        <a class="dropdown-item" value="10752">전쟁</a>
        <a class="dropdown-item" value="37">서부</a>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger">Nation</button>
      <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Korea</a>
        <a class="dropdown-item" href="#">USA</a>
        <a class="dropdown-item" href="#">Japan</a>
        <a class="dropdown-item" href="#">China</a>
      </div>
    </div>
</div>


</body>
</html>