<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- 부트스트랩 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Srisakdi:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">

    <title>Movie Delivery</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- 차트 링크 -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <style>
        * {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .site-title-font {
            color: red;
            font-family: 'Srisakdi', cursive;
            font-size: 27px;
        }
        .navbar-background{
            background-color: black;
            opacity: 80%;
        }
        .jumbotron-style{
            border-radius: 15px;
            font-family: 'Gamja Flower', cursive;
            background-color: lightgoldenrodyellow;
            padding: 30px;
        }
        .jumbo-font{
            font-family: 'Gamja Flower', cursive;
            font-size: 30px;
        }
        .size {
            width: auto;
            height: 800px;
        }

        .wrap {
            width: 1100px;
            margin: auto;
            margin-top: 50px;
        }
        .list-wrap {
            width: 1000px;
            margin: auto;
            margin-top: 50px;
        }
        .background {
            background-color: black;
        }
        body{
            margin-top:20px;
            background:#FAFAFA;
        }
        .card-size{
            margin: 10px;
            width: 200px;
            height: auto;
        }
        .predict-title-font {
            font-size: 10px;
        }

    </style>

    <script>
        $(document).ready(function () {
            countGenre();
            countRate();
            countNation();
            countYear();
            recommendMovie();
        });

        function onClickBtnLogOut() {
            $.ajax({
                url: '/logout',
                method: 'POST',
                data: {},
                success: function (response) {
                    $(location).attr('href', '/');
                }
            })
        }

        function onClickHome() {
            $(location).attr('href', '/');
        }

        function onClickRate() {
            $(location).attr('href', '/rating');
        }

        function onClickGenre() {
            $(location).attr('href', '/genre');
        }

        function onClickSearch() {
            $(location).attr('href', '/search');
        }

        function onClickMypage() {
            $(location).attr('href', '/mypage');
        }

        function recommendMovie() {
            $.ajax({
                type: 'GET',
                url: '/recommendMovie',
                data: {},
                success: function (response) {
                    predict = response['predict_list']
                    predictLength = predict.length;
                    //console.log(response)

                    for (let index = 0; index < predictLength; index++){
                        tmdbid = predict[index][0];
                        predict_rate = predict[index][1];
                        getMovieDetail(index, tmdbid, predict_rate);
                    }
                }
            });
        }
        function getMovieDetail(index, tmdbid, predict_rate) {
                $.ajax({
                    type:"GET",
                    url: "https://api.themoviedb.org/3/movie/"+tmdbid,
                    data: {'api_key':'a338932a06b8f07fb4c5638b91007531','language':'ko-KR'},
                    success: function (response) {
                        //console.log(response)
                        let movies = response;
                        let moviesLength = movies.length;
                        //console.log(movies)
                        let tmdbid = movies['id'];
                        let title = movies['title'];
                        let genre = movies['genres'][0]['name'];
                        let overview = movies['overview'];
                        let nation = movies['production_countries'][0]['name'];
                        let release_date = movies['release_date'];
                        let poster_path = movies['poster_path']
                        let poster_url = "https://image.tmdb.org/t/p/w300/"
                        let base_url = "https://www.themoviedb.org/movie/"

                        //console.log(title)
                        let predict_list = `<tr>
                                              <th scope="row">${index}</th>
                                              <td>${title}</td>
                                              <td>${predict_rate}</td>
                                              <td>${release_date}</td>
                                            </tr>`
                        $("#predictList").append(predict_list);
                    }
                })
            }
    </script>
</head>

<body class="background">
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-background">
        <a class="navbar-brand" href="#" onclick="onClickHome()"><font class="site-title-font">Movie<font style="font-size: 12px" class="site-title-font">Delivery</font></font></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="onClickHome()">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="onClickRate()">star</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="onClickGenre()">rank</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#" onclick="onClickMypage()">My page</a>
                </li>
            </ul>
            <nav class="navbar navbar-dark">
                <form class="form-inline">
                    <a class="btn btn-outline-danger" role="button" href="#" onclick="onClickSearch()">Search</a>
                </form>
            </nav>
            <nav class="navbar navbar-dark">
                <form class="form-inline">
                    <a class="btn btn-outline-light" role="button" onclick="onClickBtnLogOut()">Logout</a>
                </form>
            </nav>
        </div>
    </nav>
</header>
    <div class="wrap">
        <div class="jumbotron jumbotron-style">
            <h1 class="display-4">🧐당신의 취향을 반영한 결과를 보여드릴게요</h1>
            <p class="lead"><font class="jumbo-font">이용해 주셔서 감사합니다🐹</font></p>
        </div>
    <div class="row">
        <div class="row my-2 col-md-12">
            <div class="col-lg-6">
                <div class="card" style="margin-bottom: 10px">
                    <div class="card-body">
                        <canvas id="myChart1"></canvas>
                    </div>
                    <div class="card card-footer text-center bg-dark text-light">
                        <h3>영화 선호장르</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card" style="margin-bottom: 10px">
                    <div class="card-body">
                        <canvas id="myChart2"></canvas>
                    </div>
                    <div class="card card-footer text-center bg-dark text-light">
                        <h3>별점 분포</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card" style="margin-bottom: 10px">
                    <div class="card-body">
                        <canvas id="myChart3"></canvas>
                    </div>
                    <div class="card card-body text-center bg-dark text-light">
                        <h3>영화 선호 국가</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card" style="margin-bottom: 10px">
                    <div class="card-body">
                        <canvas id="myChart4"></canvas>
                    </div>
                    <div class="card card-body text-center bg-dark text-light">
                        <h3>영화 선호 년도</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <table class="table table-dark list-wrap" style="border-radius: 10px">
          <thead>
            <tr>
              <th scope="col">rank</th>
              <th scope="col">title</th>
              <th scope="col">predict rate</th>
              <th scope="col">release date</th>
            </tr>
          </thead>
          <tbody id="predictList">

          </tbody>
        </table>


            <!-- 차트 -->
    <script>
        function countGenre() {
            $.ajax({
                type: "GET",
                url: "/countGenre",
                data: {},
                success: function (response) {
                    let result = response['genre_list'];
                    //console.log(result)
                    key = Object.keys(result);
                    value = Object.values(result);

                    let resultLength = key.length;
                    let movieLikeCountArray = [];
                    let movieGenreArray = [];
                    for (let index = 0; index < resultLength; index++) {
                        let genreData = key[index];
                        let genreLikeCount = value[index];
                        movieLikeCountArray.push(genreLikeCount);
                        movieGenreArray.push(genreData);
                    }
                    data = {
                        datasets: [{
                            backgroundColor: ['#F3D1DC', '#FCF0CF', '#B16E4B', '#97F2F3', '#ECAD8F', '#FDCF76', '#D7E7A9',
                                              '#E18D96','#909090','#B5DDD1','#9DABDD','#BC85A3','#8AC0DE','#E17E76',
                                              '#A02C2D','#E8CCC0','#D3C0F9','#F99A9C','#E7E7E7'],
                            data: movieLikeCountArray
                        }],
                        // 라벨의 이름이 툴팁처럼 마우스가 근처에 오면 나타남
                        labels: movieGenreArray
                    };
                    var donutOptions = { cutoutPercentage: 30, //도넛두께 : 값이 클수록 얇아짐
                        legend: {position:'bottom',
                            padding:5,
                            labels: {
                            pointStyle:'circle',
                                usePointStyle:true}} };

                    // 도넛형 차트
                    var ctx1 = document.getElementById("myChart1");
                    var myDoughnutChart = new Chart(ctx1, {
                        type: 'doughnut',
                        data: data,
                        options: donutOptions
                    });
                }
            });
        }
        function countRate() {
            $.ajax({
                type: "GET",
                url: "/countRating",
                data: {},
                success: function (response) {
                    let result = response['rate_list'];
                    //console.log(result)
                    key = Object.keys(result);
                    value = Object.values(result);

                    let resultLength = key.length;
                    let rateScoreArray = [];
                    let rateCountArray = [];

                    for (let index = 0; index < resultLength; index++) {
                        let rateScore = key[index];
                        let rateCount = value[index];
                        rateScoreArray.push(rateScore);
                        rateCountArray.push(rateCount);
                    }

                    var ctx2 = document.getElementById('myChart2');
                    var myChart2 = new Chart(ctx2, {
                        type: 'bar',
                        data: {
                            labels: rateScoreArray,
                            datasets: [{
                                label: '# of Votes',
                                data: rateCountArray,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                }
            });
        }
        function countNation() {
            $.ajax({
                type: "GET",
                url: "/countNation",
                data: {},
                success: function (response) {
                    let result = response['nation_list'];
                    //console.log(result)
                    key = Object.keys(result);
                    value = Object.values(result);

                    let resultLength = key.length;
                    let nationNameArray = [];
                    let nationCountArray = [];

                    for (let index = 0; index < resultLength; index++) {
                        let nationScore = key[index];
                        let nationCount = value[index];
                        nationNameArray.push(nationScore);
                        nationCountArray.push(nationCount);
                    }
                    data = {
                        datasets: [{
                            backgroundColor: ['#F3D1DC', '#FCF0CF', '#B16E4B', '#97F2F3', '#ECAD8F', '#FDCF76', '#D7E7A9',
                                              '#E18D96','#909090','#B5DDD1','#9DABDD','#BC85A3','#8AC0DE','#E17E76',
                                              '#A02C2D','#E8CCC0','#D3C0F9','#F99A9C','#E7E7E7'],
                            data: nationCountArray
                        }],
                        // 라벨의 이름이 툴팁처럼 마우스가 근처에 오면 나타남
                        labels: nationNameArray
                    };
                    var donutOptions = { cutoutPercentage: 30, //도넛두께 : 값이 클수록 얇아짐
                        legend: {position:'bottom',
                            padding:5,
                            labels: {
                            pointStyle:'circle',
                                usePointStyle:true}} };

                    // 도넛형 차트
                    var ctx3 = document.getElementById("myChart3");
                    var myDoughnutChart = new Chart(ctx3, {
                        type: 'doughnut',
                        data: data,
                        options: donutOptions
                    });
                }
            });
        }
        function countYear() {
            $.ajax({
                type: "GET",
                url: "/countYear",
                data: {},
                success: function (response) {
                    let result = response['year_list'];
                    //console.log(result)
                    key = Object.keys(result);
                    value = Object.values(result);

                    let resultLength = key.length;
                    let yearScoreArray = [];
                    let yearCountArray = [];

                    for (let index = 0; index < resultLength; index++) {
                        let yearScore = key[index];
                        let yearCount = value[index];
                        yearScoreArray.push(yearScore);
                        yearCountArray.push(yearCount);
                    }

                    var ctx4 = document.getElementById('myChart4');
                    var myChart4 = new Chart(ctx4, {
                        type: 'bar',
                        data: {
                            labels: yearScoreArray,
                            datasets: [{
                                label: 'Bar Dataset',
                                data : yearCountArray,
                                backgroundColor: 'rgba(256, 0, 0, 0.1)'
                            },
                                {
                                    label: 'Line Dataset',
                                    data: yearCountArray,
                                    backgroundColor: 'transparent',
                                    borderColor: 'skyblue',
                                    type: 'line'
                                }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                }
            });
        }

    </script>

</body>
</html>