<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{url_for('static', filename='card.css')}}" rel="stylesheet" id="card-css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Srisakdi:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">


    <title>Movie delivery</title>

    <style>
        * {
            font-family: 'Noto Sans KR', sans-serif;
        }
        .site-title-font {
            color: red;
            font-family: 'Srisakdi', cursive;
            font-size: 27px;
        }
        .navbar-background{
            background-color: black;
            opacity: 80%;
        }
        .jumbotron-style{
            border-radius: 15px;
            font-family: 'Gamja Flower', cursive;
            background-color: lightgoldenrodyellow;
            padding: 30px;
        }
        .jumbo-font{
            font-family: 'Gamja Flower', cursive;
            font-size: 30px;
        }
        .size{
            width: auto;
            height: 800px;
        }
        .wrap {
            width: 1350px;
            margin: auto;
            margin-top: 50px;
        }
        .background{
            background-color:black;
        }
        .ranking-font{
            font-family: 'Black Han Sans', sans-serif;
            font-size: 30px;
        }
        .date-font-color{
            color: gray;
        }
        .movietitle-font{
            color: black;
            font-family: 'Do Hyeon', sans-serif;
        }

    </style>

    <script>
        $(document).ready(function () {
            searchMovie();
        });
        function onClickBtnLogOut() {
            $.ajax({
                url: '/logout',
                method: 'POST',
                data: {},
                success: function (response) {
                    $(location).attr('href', '/');
                }
            })
        }
        function onClickHome() {
            $(location).attr('href', '/');
        }
        function onClickRate() {
            $(location).attr('href', '/rating');
        }
        function onClickGenre() {
            $(location).attr('href', '/genre');
        }
        function onClickSearch() {
            $(location).attr('href', '/search');
        }
        function onClickMypage() {
            $(location).attr('href', '/mypage');
        }

        function searchMovie(search_input) {
            $('#cards-box').empty()
            let movietitle = $('#search_input').val();
            //console.log(movietitle);
            $.ajax({
                type: 'GET',
                url: 'https://api.themoviedb.org/3/search/movie?api_key=a338932a06b8f07fb4c5638b91007531&language=ko-KR&query='+movietitle,
                data: {"api_key": "a338932a06b8f07fb4c5638b91007531"},
                success: function (response) {
                    console.log(response)
                    let movies = response["results"]
                    let moviesLength = movies.length;

                    for (let index = 0; index < moviesLength; index++) {
                        for (let index = 0; index < moviesLength; index++) {
                            let id = movies[index]['id'];
                            let title = movies[index]['title'];
                            let popularity = movies[index]['popularity'];
                            let vote_count = movies[index]['vote_count'];
                            let release_date = movies[index]['release_date']
                            let poster_path = movies[index]['poster_path']
                            let poster_url = "https://image.tmdb.org/t/p/w1280/"
                            let base_url = "https://www.themoviedb.org/movie/"

                            let movieCard = `<div class="movie-card">
                                                <div class="movie-header" style="background-image: url(${poster_url}${poster_path}); background-size: cover;">
                                                </div>
                                                <div class="movie-content">
                                                    <div class="movie-content-header">
                                                        <a href="${base_url}${id}">
                                                            <h3 class="movie-title movietitle-font">${title}</h3>
                                                        </a>
                                                        <div></div>
                                                    </div>
                                                    <div class="movie-info">
                                                        <div class="info-section">
                                                            <label>개봉날짜</label>
                                                            <span>${release_date}</span>
                                                        </div>
                                                        <div class="info-section">
                                                            <label>popularity</label>
                                                            <span>${popularity}</span>
                                                        </div>
                                                        <div class="info-section">
                                                            <label>vote_count</label>
                                                            <span>${vote_count}</span>
                                                        </div>
                                                    </div>
                                                </div>`;
                            $("#cards-box").append(movieCard);
                        }
                    }
                }
            });
        }

    </script>
</head>
<body class="background">
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-background">
        <a class="navbar-brand" href="#" onclick="onClickHome()"><font class="site-title-font">Movie<font style="font-size: 12px" class="site-title-font">Delivery</font></font></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="onClickHome()">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="onClickRate()">star</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="onClickGenre()">rank</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="onClickMypage()">My page</a>
        </li>
      </ul>
        <nav class="navbar navbar-dark">
          <form class="form-inline">
            <a class="btn btn-outline-danger" role="button" href="#" onclick="onClickSearch()">Search</a>
          </form>
        </nav>
        <nav class="navbar navbar-dark">
          <form class="form-inline">
            <a class="btn btn-outline-light" role="button" onclick="onClickBtnLogOut()">Logout</a>
          </form>
        </nav>
    </div>
  </nav>
</header>

<div class="wrap">
    <div class="jumbotron jumbotron-style">
        <h1 class="display-4">🎥영화를 검색해보세요</h1>
        <p class="lead"><font class="jumbo-font">재밌게 봤던 영화에 별점을 남겨주세요🙂</font></p>
    </div>
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" id="search_input" placeholder="Search" onkeyup="searchMovie()">
        </div>
        <button type="submit" class="btn btn-danger mb-2" onclick="searchMovie()">
            <font size="5px">😎</font>
        </button>
    </form>
    <div class="row mb-5" id="cards-box">

    </div>
</div>

</body>
</html>