<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="{{url_for('static', filename='login.css')}}" rel="stylesheet" id="login-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
        #nickname {
            margin-bottom: 40px;
        }
        input[type=button]{
            margin-bottom: 100px;
        }
    </style>
    <script>
         $(document).ready(function () {

            });
        function signup() {
                let userID = $('#userID').val();
                let password = $('#password').val();
                let nickname = $('#nickname').val();
                console.log(userID)

                if (!validateEmail(userID)) {
                    alert('아이디를 이메일 형식으로 입력해주세요')
                    $('#userID').focus()
                    return
                } else if (password == '') {
                    alert('비밀번호를 입력해주세요')
                    $('#password').focus()
                    return
                } else if (nickname == '') {
                    alert('닉네임을 입력해주세요')
                    $('#nickname').focus()
                    return
                }
                $.ajax({
                    type: "POST",
                    url: "/signUp",
                    data: {userid_give: userID, password_give: password, nickname_give: nickname},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('회원가입 완료!');
                            $(location).attr('href', '/login');
                        }
                    }
                })
            }
            function validateEmail(elementValue){
                let emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
                return emailPattern.test(elementValue);
            }
    </script>
</head>
<body class="background">
    <div class="bg-1">
        <div class="wrapper fadeInDown">
          <div id="formContent">
            <div class="fadeIn first">
              <img src="/static/logo2.JPG" id="icon" alt="User Icon">
            </div>
            <form>
                <input type="text" id="userID" class="fadeIn second" name="userID" placeholder="ID">
                <input type="text" id="password" class="fadeIn third" name="password" placeholder="Password">
                <input type="text" id="nickname" class="fadeIn third" name="nickname" placeholder="nickname">
                <input type="button" onclick="signup()" class="fadeIn fourth" value="Sign Up">
            </form>
          </div>
        </div>
    </div>
</body>
</html>