<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="{{url_for('static', filename='login.css')}}" rel="stylesheet" id="login-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
        .background {
            background-image: url("https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FQsGoG%2FbtqCxQ1YNSO%2F8qWHNtEqr4Yh0SYKNXG7Rk%2Fimg.png");
            background-repeat:no-repeat;
            background-position:top center;
            background-size:cover;
        }
        .size{
            margin-top: 40px;
            margin-bottom:20px;
            size:300px;
        }
    </style>
    <script>
         $(document).ready(function () {

            });
        function signup() {
                let userID = $('#userID').val();
                let password = $('#password').val();
                let nickname = $('#nickname').val();
                console.log(userID)

                if (!validateEmail(userID)) {
                    alert('아이디를 이메일 형식으로 입력해주세요')
                    $('#userID').focus()
                    return
                } else if (password == '') {
                    alert('비밀번호를 입력해주세요')
                    $('#password').focus()
                    return
                } else if (nickname == '') {
                    alert('닉네임을 입력해주세요')
                    $('#nickname').focus()
                    return
                }
                $.ajax({
                    type: "POST",
                    url: "/signUp",
                    data: {userid_give: userID, password_give: password, nickname_give: nickname},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('회원가입 완료!');
                            $(location).attr('href', '/login');
                        }
                    }
                })
            }
            function validateEmail(elementValue){
                let emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
                return emailPattern.test(elementValue);
            }
    </script>
</head>
<body class="background">

<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img class="size" src="https://postfiles.pstatic.net/MjAyMDA4MjVfMjY3/MDAxNTk4MzMzMTMzMzYz.TecBsMZiaVib0wlGrjzDyqGKUVHQFuK7ByVss1u_pEQg.5OjcSo9t3u5bxnj8zyp5qfDm102rGaX7Wp1uB-_Pm2sg.JPEG.kyy8006/logo.jpg?type=w773" id="icon" alt="User Icon">
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="userID" class="fadeIn second" name="userID" placeholder="ID">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="Password">
        <input type="text" id="nickname" class="fadeIn third" name="nickname" placeholder="nickname">
      <input type="button" onclick="signup()" class="fadeIn fourth" value="Sign Up">
    </form>


  </div>
</div>
</body>
</html>